body {background-color: #D0D5DA; font: normal normal 12px 'Helvetica', sans-serif;}
#wrapper {min-width: 500px; margin: 0 auto;}
#tests, #console { }
h1 {font-weight: normal; font-size: 1.8em; background-color: #666; color: #FFF; padding: 10px 22px;}
p {margin: 6px 10px;}
#tests { }
#console{ }

.my_widget {background-color: #777; color: #FFF; margin: 12px 0; padding: 12px;}
.my_widget:active {background-color: #AAA; color: #000;}